mixin formSheetsBlack()
    .formSheetsBlack
        //- img.detal1(src="https://dafitistatic.dafiti.com.br/cms/2024_10_04_15_55_38_CIMA.jpg", alt="")
        //- img.detal2(src="https://dafitistatic.dafiti.com.br/cms/2024_10_04_15_55_36_BAIXO.jpg", alt="")

        form(method="post" action="" name="contact-form")
            h1 <strong>OFERTAS</strong> EXCLUSIVAS
            p.textW Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.

            .flexInputs
                .flex
                    .boxInput
                        input(type="text" name="nome" placeholder="*Nome" required)
                    .boxInput
                        input(type="email" name="email" placeholder="*E-mail" required)
                    .boxInput
                        input#telefone(type="text" name="numero" placeholder="*(DDD) 99999-9999" maxlength="15" required)
            
            .flexCategories
                p Quais são as categorias que você deseja receber ofertas?
                .flex
                    .btnCat
                        input(type="checkbox" name="categories1" value="tenis", id="cat1")
                        label(for="cat1") Tênis
                    .btnCat
                        input(type="checkbox" name="categories2" value="bolsas", id="cat2")
                        label(for="cat2") Bolsas
                    .btnCat
                        input(type="checkbox" name="categories3" value="vestuario", id="cat3")
                        label(for="cat3") Vestuário
                    .btnCat
                        input(type="checkbox" name="categories4" value="perfumaria", id="cat4")
                        label(for="cat4") Perfumaria
                    .btnCat
                        input(type="checkbox" name="categories5" value="calçados", id="cat5")
                        label(for="cat5") Calçados
                    .btnCat
                        input(type="checkbox" name="categories6" value="acessorios", id="cat6")
                        label(for="cat6") Acessórios
            
            .flexOptions
                p Selecione suas categorias preferidas pra compor o seu look ou dar de presente.
                .flex
                    .btnCat
                        input(type="checkbox" name="options1" value="feminino", id="feminino")
                        label(for="feminino") Feminino
                    .btnCat
                        input(type="checkbox" name="options2" value="masculino", id="masculino")
                        label(for="masculino") Masculino
                    .btnCat
                        input(type="checkbox" name="options3" value="infantil", id="infantil")
                        label(for="infantil") Infantil

            .flexButton
                p.textW *Ao clicar em ENVIAR, declaro que li e concordo com as <a target="_blank" href="https://www.dafitigroup.com/politica-de-privacidade">Políticas de Privacidade</a> e os <a target="_blank" href="https://www.dafitigroup.com/termos-de-uso">Termos e condições de uso</a>.
                input(type="submit" value="ENVIAR" id="submit")
